@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

/*STYLES MAIN PAGE */
.FormMain {
  margin-top: 10%;
  margin-left: 40%;
  width: 400px;
  height: 400px;
  background-color: rgba(64, 114, 51, 0.637);

}

.textHeader {
  display: flex;
  padding-top: 30px;
  color: rgb(0, 0, 0);
  margin-left: 37%;
  font-family: 'MedievalSharp', cursive;
  font-size: 25px;
}

.p {
  display: block;
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: 'MedievalSharp', cursive;
}

.name {
  display: inline-block;
  color: black;
  font-size: 40px;
  font-family: 'MedievalSharp', cursive;
  margin-left: 12%;
}

.input {
  display: block;
  width: 280px;
  height: 25px;
}

.button1 {
  margin-left: 35%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/*STYLES BATTLE PAGE */
.introducao {
  text-align: center;
  margin-top: 40px;
  font-family: 'MedievalSharp', cursive;
  font-size: 30px;
  font-size: 30px;
}

.Wolf {
  display: flex;
  border-radius: 50%;
  margin-left: 1100px;
  margin-top: -500px;

}

.Iop {
  display: inline;
  border-radius: 50%;
  margin-left: 500px;
  margin-top: 300px;
}

.statsPatternPlayer {
  font-family: 'MedievalSharp', cursive;
  margin-left: 26%;
  background-color: rgba(136, 140, 135, 0.637);
  width: 250px;
  height: 200px;
  text-align: center;
  padding: auto;
}

.statsPatternMob {
  font-family: 'MedievalSharp', cursive;
  margin-left: 1100px;
  background-color: rgba(136, 140, 135, 0.637);
  width: 250px;
  height: 220px;
  text-align: center;
  padding: 7px;

}

.caracteristicas {
  display: flex;
  margin-left: 80%;
  font-family: 'MedievalSharp', cursive;
  background-color: blueviolet;
}

.select {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  color: #0071c5
}

.button2 {
  margin-left: 47%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'MedievalSharp', cursive;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 26px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.Image {
  z-index: -2;
}

/*# sourceMappingURL=Home.module.css.map */